@font-face {
    font-family: 'Tomatoes';
    src: url('Tomatoes.woff2') format('woff2'),
        url('Tomatoes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

