:root {
  --dress-colour: #968653;
  --min-section-height: 600px;
}

@font-face {
  font-family: "Tomatoes";
  src: url("../webfonts/Tomatoes.woff2") format("woff2"),
    url("../webfonts/Tomatoes.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

/* font */
.wedding-cursive {
  font-family: "Tomatoes";
  font-weight: bold;
  font-style: normal;
  color: var(--dress-colour);
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-muted {
  color: #6c757d !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 1.5;
  color: #333333;
  font-weight: 400;
  overflow-x: hidden;
  background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  text-transform: none;
}

p {
  letter-spacing: 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding: 100px 0;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  margin: 0 0 10px;
  font-size: 40px;
  line-height: 1.8;
  font-weight: 100;
}

.section-header h3 {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto 15px;
}

.section-header h3:before {
  content: "";
  position: absolute;
  height: 2px;
  left: -70px;
  margin-top: -5.5px;
  top: 75%;
  background: #09b2c6;
  width: 50px;
}

.section-header h3:after {
  content: "";
  position: absolute;
  height: 2px;
  right: -70px;
  margin-top: -5.5px;
  top: 75%;
  background: #09b2c6;
  width: 50px;
}

.section-header img {
  width: 15%;
  margin: 0 0 25px 0;
}

.section-header p {
  line-height: 1.625em;
  font-weight: 500;
}

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: "";
  border: 1em solid #e91e63;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.loader:before {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.nav-area {
  height: 65px;
}

.nav-area.sticky_navigation {
  background: #ffffff;
  height: 55px;
}

.sticky_navigation {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
}

.sticky_navigation .main-menu {
  margin-top: 0;
}

.sticky_navigation .navbar-brand,
.sticky_navigation .navbar-brand span {
  color: var(--dress-colour);
}

.sticky_navigation .navbar-brand:hover,
.sticky_navigation .navbar-brand:focus,
.sticky_navigation .navbar-brand span {
  color: var(--dress-colour);
}

.sticky_navigation .nav li a {
  color: #333333;
}

.sticky_navigation .nav li.active a {
  color: var(--dress-colour);
}

.sticky_navigation .navbar-brand:hover {
  color: #333333;
}

.main-menu {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin-top: 10px;
}

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0 0;
  font-size: 18px;
  display: block;
  color: #ffffff;
  font-weight: 800;
  line-height: 18px;
}

.navbar-brand span {
  font-weight: 900;
  color: #ff4545;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-right {
  padding-top: 5px;
}

.navbar-right li {
  display: inline-block;
  float: none;
}

.navbar-right li a {
  color: #ffffff;
  font-weight: 600;
  padding: 15px 10px;
}

.navbar-right li.active a {
  font-weight: bold;
  color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  background: none;
}

.navbar-toggle .icon-bar {
  background: #777777;
}

.mouse-icon {
  position: absolute;
  left: 50%;
  bottom: -160px;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 50px;
  width: 30px;
  margin-left: -17px;
  display: block;
  z-index: 10;
}

.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 4px;
  height: 10px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  30% {
    top: 10px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    top: 25px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  30% {
    top: 10px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    top: 25px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.banner-area {
  background-image: url(../images/main.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.banner-table {
  display: table;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.welcome-text {
  color: #ffffff;
}

.welcome-text h2 {
  font-size: 6.667em;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  margin: 0;
  margin-bottom: 11px;
}

.welcome-text h2 span {
  color: #ff4545;
}

.welcome-text h4 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "Charmonman", cursive;
  color: #ff4545;
  font-size: 40px;
}

.welcome-text h3 {
  font-size: 1.8em;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.welcome-text h5 {
  width: 315px;
  height: 46px;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 28px;
  margin: 0;
  font-weight: 100;
}

.welcome-des {
  width: 70%;
  margin: auto;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

.male-img {
  overflow: hidden;
  border-radius: 50%;
  border: 2px dashed #ff4545;
  display: inline-block;
}

.male-text h2 {
  font-family: "Great Vibes", cursive;
  letter-spacing: 3px;
}

.wrapper {
  width: 300px;
}
.imageHover {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.img-text {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: #ff4545;
}

.img-area {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5);
  -webkit-transform-origin: 95% 40%;
  transform-origin: 95% 40%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}

.img-text h3 {
  color: #fff;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  font-size: 31px;
  margin: 0 auto;
  padding: 115px 0 0 0;
  height: 40px;
  font-weight: 400;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
  font-family: "Great Vibes", cursive;
}

.img-text p {
  color: #fff;
  padding: 10px 5px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 1.6;
}

.thing {
  background-image: url(../images/mike.jpg);
  z-index: 12;
  background-size: cover;
  background-position: center center;
}

.thing1 {
  background-image: url(../images/alaina4.jpg);
  z-index: 12;
  background-size: cover;
  background-position: center center;
}

.imageHover:hover .img-area {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5),
    0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

.socials a {
  width: 40px;
  height: 40px;
  background: #ff4545;
  display: inline-block;
  border-radius: 50%;
}
.socials a i {
  color: #fff;
  padding: 10px 12px;
  font-size: 20px;
}

.line {
  border: 2px dashed #ddd;
  margin: 50px 0;
}
.male-text p {
  font-family: poppins;
  line-height: 2;
}

.socials {
  margin-top: 30px;
}

.countdown-area h2 {
  text-align: center;
  color: #fff;
  font-family: "Charmonman", cursive;
  margin: 0;
  font-size: 45px;
  letter-spacing: 5px;
}

.countdown-area {
  background: url(../images/home/2.jpeg); /*--edit--*/
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}
.countdown-area:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

#clock-sec {
  margin-top: 20px;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clock-sec > div {
  padding: 10px;
  display: inline-block;
}

#clock-sec div > span {
  padding: 15px;
  font-size: 60px;
  font-weight: 300;
  color: #ff4545;
  line-height: 0.7;
  display: inline-block;
}

.clock-text {
  padding-top: 5px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 0.7;
  margin: 19px 0 0;
  color: #ffffff;
  letter-spacing: 1.2px;
}

.st-area {
  border: 1px solid #dddddd;
  box-shadow: 12px 0px 14px -11px #7b7b7b;
  margin-bottom: 30px;
}

.col-md-6.cus-padd {
  padding: 0 !important;
}

.st-text {
  padding: 32px 40px;
}

.no-mb {
  margin-bottom: 0;
}

.st-text h5 {
  color: #ff4545;
  font-size: 18px;
}

.st-text p {
  font-family: poppins;
}

.event-area {
  position: relative;
  background: url("../images/event/event.jpeg"); /*edit*/
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.event-area:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

#event .row .box .details {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  text-align: center;
}

.single-event {
  background: rgba(255, 255, 255, 0.8);
  padding: 10%;
}

.event-area .section-header h2 {
  color: #fff;
}
.event-area .section-header p {
  color: #fff;
}

.event-area .owl-dot {
  background: #ffffff !important;
}
.event-area .owl-dot.active {
  background: #ff4545 !important;
}

.event-text a {
  background: #ff4545;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 900;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.event-text h4 {
  color: #ff4545;
}

/*---- 14. rsvp area css starts ------*/

.form-control {
  height: 50px;
}

textarea {
  height: 250px !important;
}

.rsvp-area button {
  background: #ff4545;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 900;
}

/*---- rsvp area ends ------*/

/*----- 15. Contact area css starts -----*/

.form-area-video .single-video {
  position: relative;
}

.form-area-video .single-video img {
  width: 100%;
}

.form-area-video .single-video:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  visibility: visible;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.form-area-video .single-video:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}

.form-area-video .single-video i {
  background: #ff4545;
}

.form-area-video .single-video:hover:after {
  margin-left: 0;
  margin-top: 0;
}

.form-area-video .single-video i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  margin-left: -25px;
  margin-top: -25px;
  color: #fff;
  cursor: pointer;
  width: 50px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.form-area-video .single-video:hover i {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

/*----- Contact area ends -----*/

/*--- 15. Footer area css starts ---*/

.single-footer h2 {
  font-family: "Charmonman", cursive;
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
}

.footer-area {
  background: #000;
  color: #fff;
}

.single-footer p {
  font-size: 18px;
}

.block {
  display: block;
}

.single-footer a {
  text-decoration: none;
  color: #ff4545;
  margin: 10px;
}

/*--- footer area ends ---*/
